@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --pacman-yellow: #ffff00;
  --ghost-red: #ff0000;
  --ghost-pink: #ffb8ff;
  --ghost-cyan: #00ffff;
  --ghost-orange: #ffb852;
  --maze-blue: #2121de;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pacman-yellow: var(--pacman-yellow);
  --color-ghost-red: var(--ghost-red);
  --color-ghost-pink: var(--ghost-pink);
  --color-ghost-cyan: var(--ghost-cyan);
  --color-ghost-orange: var(--ghost-orange);
  --color-maze-blue: var(--maze-blue);

  --font-arcade: var(--font-press-start-2p);
  --font-vt323: var(--font-vt323);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vt323);
}

/* CRT Effect Animation if needed later */
@keyframes scanline {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: var(--ghost-pink);
  }
}